logs
project/project/target
project/target
target
tmp
.history
/dist
.idea/*
!.idea/runConfigurations
.idea/runConfigurations/*
!.idea/runConfigurations/Astrium_Proxy_unit_tests.xml
!.idea/runConfigurations/Web_unit_tests.xml
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.log
*.log.*
.DS_Store
scripts/build/.idea/
test-output
/node_modules
/node/bundle-out
/app/assets/stylesheets/main.css